{% extends '../base.html' %}
{% block content %}
<!-- 
    hx-target = "this" means the target is that particular div
    hx-swap = "outerHTML" means it should swap the whole html with the data coming in from the backend redirect
    hx-post = "." - first we need to add hx-post to the buton to make it a htmx submit  instead of a normal post submit and the . there means submit to the current url



 -->

<div hx-target="this" hx-swap="outerHTML">
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        {% if book %}
        <button type="sumit" hx-post="{% url 'update-book' book.id %}">Submit</button>

        {% else %}
            <button type="sumit" hx-post=".">Submit</button>

        {% endif %}
    </form>
</div>

{% endblock content %}